<div class="collapse navbar-collapse" id="navbarTogglerDemo03">
  <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
	<li class="nav-item">
	  <a class="nav-link" href="#">Home</a>
   </li>
   <li class="nav-item">
	<a class="nav-link" href="#">Profile</a>
  </li>
	<li class="nav-item">
	  <a class="nav-link" href="#">Search</a>
	</li>
   <li class="nav-item">
	 <a class="nav-link" href="#">Login</a>
   </li>
   <li class="nav-item">
	<a class="nav-link" href="#">Logout</a>
   </li>
  </ul>
</div>
</nav>

{% for game in games: %}
<div class="container">
	<div class="row">
	  <div class = "col-md-12" id = "titleColumn">
		<br>
		<h1 class = "title" style = "text-align: center;">{{game[1]}}</h1>
	  </div>
	</div>
  </br>
	<div class ="row">
		<div class="col-md-4">
			<img src="{{game[6]}}" style="width:100%;" class="rounded mx-auto d-block" alt="Game image">
		</div>
		<div class="col-md-8">
			<div class="row" style="width: 100%; height: 100%; border: 1px solid black; border-radius: 10px; margin: auto; padding: 15px;">
				<div class = "col-md-12">
					<div class = "row">
						<h3>Release Date: {{game[2]}}</h3>
					</div>
					<div class = "row">
						<h3>User Rating: {{game[3]}}</h3>
					</div>
					<div class = "row">
						<h3>Critic Rating: {{game[4]}}</h3>
					</div>
					<div class = "row">
						<h3>Platform: {{game[9]}}</h3>
					</div>
					<div class = "row">
						<h3>Developer: {{game[10]}}</h3>
					</div>
					<div class = "row">
						<h3>Publisher: {{game[11]}}</h3>
					</div>
					<div class = "row">
						<h3>Genre: {{game[12]}}</h3>
					</div>
					<div class = "row">
						<h3>Likes: {{(game[8],0)[game[8] is none]}}</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</br>
	<div class = "row">
		<div class = "col-sm-12" id = sort style = "margin: auto; ">
			<button type="date" class="btn btn-primary" style="width: 100%">Like</button>
		</div>
		<div class = "col-sm-12" id = sort style = "margin: auto">
			<button type="date" class="btn btn-primary" style="width: 100%">Unlike</button>
		</div>
	</div>
	</br>
	<div class="col" style="width: 100%; height: 100%; border: 1px solid black; border-radius: 10px; margin: auto; padding: 15px;">
		<div class = "row" style="padding-left: 15px; padding-right: 15px;">
			<h3>Description:</h3>
		</div>
		<div class = "row" style="padding-left: 15px; padding-right: 15px;">
			<p style="font-size:18px; margin-bottom:0;">{{game[5]}}</p>
		</div>
	</div>
</div>
{% endfor %}
</br>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>