<div class="container">
    <div class="row">
      <div class = "col-md-12" id = "titleColumn">
        <br>
        <h1 class = "title" style = "text-align: center;">Top 10 Games</h1>
      </div>
    </div>
    <% for game in games: %>
    <div class = "row" style="width: 80%; border: 1px solid black; border-radius: 10px; margin: auto; padding: 15px">
        <div class ="col-md-6" id = "game1">
            <h2> {{game[1]}}</h2>
        </div>
        <div class ="col-md-6">
            <div class = "row">
                <h3> Likes: {{game[8]}}</h3>
            </div>
            <div class = "row">
                <h3> Last Updated: {{game[7]}}</h3>
            </div>
            <div class = "row">
                <h3> Genre: {{game[9]}}</h3>
            </div>
        </div>
    </div>
    <% endfor %>
  </div>