<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {%if page == 'home':%}
        {% include 'home.html' %}
    {%elif page == 'game':%}
        {% include 'game.html' %}
	{%elif page == 'login':%}
        {% include 'login.html' %}
    {%elif page == 'register': %}
        {% include 'register.html' %} 
    {%elif page == 'profile.html' %}
        {% include 'profile.html' %}
    {%endif%}
    <script src = "/static/js/main.js"></script>
    {%if page == 'login' or page == 'register'%}
        <script src = "/static/js/utility.js"></script>
    {%endif%}



    {%if page == 'home':%}
        <script src = "/static/js/home.js"></script>
    {%elif page == 'game':%}
    <script src = "/static/js/game.js"></script>
	{%elif page == 'login':%}
    <script src = "/static/js/login.js"></script>
    {%elif page == 'register': %}
    <script src = "/static/js/register.js"></script>
    {%elif page == 'profile.html' %}
    <script src = "/static/js/profile.js"></script>
    {%endif%}


</body>
</html>