<div class="container hideElement" id = "page">
    <div class="row">
      <div class = "col-md-12" id = "titleColumn">
        <br>
        <h1 class = "title" style = "text-align: center;"><span id = "username"></span>'s Profile</h1>
      </div>
    </div>
</br>
    <div class="row">
        <div class = "col-sm-12">
            <h4 style = "text-align: center;">Liked Games</h4>
        </div>
    </div>

        <div class="row" id = "liked_games">
            
        </div>
    
    <div class="row">
        <div class = "col-sm-12">
            <h4 style = "text-align: center;">Recommended Games</h4>
        </div>
    </div>
    <div class="row" id = "recommended_games">
            
    </div>
</div>
