<div class="container">
	<div class="row">
	  <div class = "col-md-12" id = "titleColumn">
		<br>
		<h1 class = "title" style = "text-align: center;">Game Search</h1>
	  </div>
	</div>
	<form style="width:80%; margin: auto" id="searchform">
		<div class="form-group">
			<input type="text" class="form-control" id="game" aria-describedby="game" placeholder="Search game">
		</div>  
	</form> 
	<div class = "row" style = "margin: auto; padding: 20px">
		<h5> Sort by: </h5>
		<div class = "col-sm-2" id = sort style = "margin: auto">
			<button type="date" id = "sort_release"class="btn btn-primary" style="width:100%">Release Date</button>
		</div>
		<div class = "col-sm-2" id = sort style = "margin: auto">
			<button type="date" id = "sort_user"class="btn btn-primary" style="width:100%">User Rating</button>
		</div>
		<div class = "col-sm-2" id = sort style = "margin: auto">
			<button type="date" id = "sort_critic"class="btn btn-primary" style="width:100%">Critic Rating</button>
		</div>
		<div class = "col-sm-2" id = sort style = "margin: auto">
			<button type="date" id = "sort_likes"class="btn btn-primary" style="width:100%">Likes</button>
		</div>
		<div class = "col-sm-2" id = sort style = "margin: auto">
			<button type="date" id = "sort_name"class="btn btn-primary" style="width:100%">Name</button>
		</div>
	</div>
	{% for game in games: %}
	<div class = "row" style="width: 80%; border: 1px solid black; border-radius: 10px; margin: auto; padding: 15px">
		<div class ="col-md-6" id = "game1">
			<a href="../game/{{game[0]}}" target="_blank"><h2> {{game[1]}}</h2></a>
		</div>
		<div class ="col-md-6">
			<div class = "row">
				<h3> Likes: <span>{{(game[8],0)[game[8] is none]}}</span></h3>
			</div>
			<div class = "row">
				<h3> Last Updated: <span>{{game[7]}}</span></h3>
			</div>
			<div class = "row">
				<h3> Genre: <span>{{game[9]}}</span></h3>
			</div>
		</div>
	</div>
	</br>
	{% endfor %}
	<h4 style="text-align: center;">Page: &nbsp;<span id = "page_num">{{page_num}}</span>  &nbsp;of {{out_of}}</h4>
	<div class = "row" style= "margin: auto; padding: 20px;">
		<nav aria-label="Page navigation example" style="margin: auto;">
			<ul class="pagination">
			    {% if page_num != 1 and page_num != 0:%}
				    <li class="page-item"><a class="page-link" id = "previous"href="#">Previous</a></li>
			    {% endif %}

			    {% if not max_page: %}
				    <li class="page-item"><a class="page-link" id = "next"href="#">Next</a></li>
			    {% endif %}
			</ul>
		</nav>
	</div>
</div>